@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Oswald:wght@200;300;400;700&family=Roboto+Condensed&display=swap");

html,
body {
    font-family: "Oswald", sans-serif;
    font-family: "Cormorant", serif;
    font-family: "Suisse Int'l", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    ::-webkit-scrollbar {
        display: none;
    }
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: #040a0a;
    color: #ffffff;
}
.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/*------------------------------------*/ /*------------------------------------*/
/*------------------------------------*/ /*------------------------------------*/

.header {
    background: url(../images/header/background.jpg) center no-repeat;
    background-size: cover;
    min-height: 1480px;
    margin-bottom: 100px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        bottom: 0;
        left: 0;
        background: #040a0a;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
    }

    &__nav {
        margin-left: 70px;
    }

    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
    }

    &__link {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__btn {
        background: none;
    }

    &__input {
        font-family: "Oswald";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        background: none;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__top-right {
        margin-top: 3px;
    }

    &__text {
        &:nth-child(1) {
            font-family: "Oswald";
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #43ffd2;
            margin-bottom: 4px;
            text-align: right;
        }
        &:nth-child(2) {
            font-family: "Oswald";
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #ffffff;
        }
    }

    &__body {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-family: "Cormorant";
        font-weight: 300;
        font-size: 200px;
        line-height: 242px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
    }

    &__subtitle {
        font-family: "Oswald";
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 45px;
    }

    &__button {
        font-family: "Oswald";
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        background: #43ffd2;
        padding: 16px 50px;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__box {
        margin-bottom: 60px;
    }

    &__box-text {
        font-family: "Oswald";
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-align: right;
        &:nth-child(1) {
            font-family: "Oswald";
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #43ffd2;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 18px;
        gap: 20px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        margin-bottom: 185px;
    }

    &__links-item {
    }

    &__links-link {
    }

    &__tel {
        font-family: "Oswald";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #43ffd2;
        margin-bottom: 8px;
    }

    &__right-btn {
        font-family: "Oswald";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #43ffd2;
        padding: 10px 20px 10px 40px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            left: 16px;
            bottom: 13px;
            background: url(../images/ico/tel.svg);
        }
    }

    &__basket {
        padding: 15px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
    }
}
.catalog {
    background: url(../images/catalog/background.png) center no-repeat;
    background-size: cover;
    min-height: 1100px;
    font-family: "Oswald";

    &__content {
        position: relative;
    }

    &__title {
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 100px;
        line-height: 121px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        margin-left: 95px;
    }

    &__text1 {
        font-weight: 300;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.04em;
        margin-left: 95px;
        margin-bottom: 30px;
    }

    &__box {
        display: inline-block;
        position: absolute;
        padding: 30px;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        &:nth-child(1) {
            right: 0;
            top: 100px;
            min-width: 445px;
            .catalog__box-link {
                margin-left: 265px;
            }
        }
        &:nth-child(2) {
            top: 320px;
            min-width: 540px;
        }
        &:nth-child(3) {
            right: 0;
            top: 400px;
            min-width: 540px;
        }
    }

    &__box-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #43ffd2;
        margin-bottom: 10px;
    }

    &__box-list {
        margin-bottom: 25px;
    }

    &__box-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        list-style: disc;
        margin-left: 25px;
    }

    &__box-link {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-decoration-line: underline;
        text-transform: uppercase;
        margin-left: 360px;
        color: #d978ac;
    }
}
.population {
    background: url(../images/population/background.jpg) 735px 0px no-repeat;
    margin-bottom: 170px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 1001px;
        height: 1007px;
        left: 400px;
        bottom: -320px;
        background: url(../images/population/purple.png);
    }
    &__content {
        font-family: "Oswald";
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 758px;
            height: 1391px;
            left: -300px;
            bottom: -700px;
            background: url(../images/population/blue.png);
        }
    }

    &__title {
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 100px;
        line-height: 121px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: left;
        &:nth-child(2) {
            margin-left: 380px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
        margin-bottom: 85px;
    }

    &__body {
        display: flex;
        gap: 30px;
        margin-bottom: 60px;
    }

    &__box {
        position: relative;
        &:nth-child(1) {
            &::after {
                content: "";
                position: absolute;
                width: 60px;
                height: 60px;
                right: -10px;
                top: -10px;
                background: url(../images/population/new.svg);
            }
        }
        &:nth-child(3) {
            &::after {
                content: "";
                position: absolute;
                width: 60px;
                height: 60px;
                right: -10px;
                top: -10px;
                background: url(../images/population/sale.svg);
            }
        }
    }

    &__img {
        margin-bottom: 10px;
    }

    &__box-title {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__box-price {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__box-button {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #ffffff;
        padding: 16px 76px;
        border: 0.5px solid #ffffff;
        background: none;
    }

    &__link {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #d978ac;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 7px;
            right: -45px;
            bottom: 5px;
            background: url(../images/ico/Arrow.svg);
        }
    }
}
.order {
    margin-bottom: 160px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 1386px;
        height: 845px;
        left: -80px;
        bottom: -180px;
        z-index: 0;
        background: url(../images/order/bacground.png);
    }
    &__title {
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 100px;
        line-height: 121px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align-last: left;
        position: relative;
        z-index: 10;
    }

    &__body {
        font-family: "Oswald";
        display: flex;
        align-items: center;
        border-right: 1px solid #d978ac;
    }

    &__left {
        margin-left: 270px;
    }

    &__box {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__box-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #d978ac;
        margin-bottom: 12px;
    }

    &__box-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    &__right {
        margin-left: 150px;
        margin-right: 105px;
    }
}
.occasion {
    margin-bottom: 160px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 439px;
        height: 900px;
        right: 0px;
        bottom: -100px;
        z-index: 1;
        background: url(../images/occasion/Ellipse.png);
    }
    &__content {
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__top-title {
    }

    &__title {
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 100px;
        line-height: 121px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        position: relative;
        &:nth-child(1) {
            &::before {
                content: "";
                position: absolute;
                width: 255px;
                height: 1px;
                left: 70px;
                bottom: -60px;
                background: url(../images/occasion/Line.svg);
            }
        }
        &:nth-child(2) {
            margin-left: 380px;
        }
    }

    &__top-img {
        border-radius: 20px;
        z-index: 3;
    }

    &__bottom {
        font-family: "Oswald";
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__bottom-left {
        margin-left: 95px;
    }

    &__bottom-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__bottom-list {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 11px;
            height: 61px;
            left: -25px;
            bottom: -65px;
            background: url(../images/occasion/Arrow.svg);
        }
    }

    &__bottom-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        list-style: disc;
        max-width: 275px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__bottom-right {
        display: flex;
        gap: 30px;
    }

    &__img {
        border-radius: 20px;
        z-index: 3;
    }

    &__btn {
        font-family: "Oswald";
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #000000;
        padding: 16px 17px;
        background: #43ffd2;
        margin-left: 95px;
    }
}
